<footer class="site-footer">
  <div class="apply-typography">
    <p>Copyright © 2021, Alen Andry Blog Build With Angular</p>

    <a
      href="https://juejin.cn/user/3993068510655703"
      class="twitter-follow-button"
      target="_blank"
      >JueJin</a
    >

    <a href="https://alenandry.github.io" target="_blank">Github Pages</a>

    <a href="https://dnrops.gitee.io/">Gitee Pages</a>

    <a href="https://www.linkedin.com/in/alen-andry-1574901ba/" target="_blank"
      >LinkedIn</a
    >

    <a href="./about" target="_blank">About</a>

    <a href="mailto:dnrops@outlook.com">Email: dnrops@outlook.com</a>
  </div>
</footer>
