/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * unibody-8-new:
 *   - http://typekit.com/eulas/00000000000000003b9b2a02
 *   - http://typekit.com/eulas/00000000000000003b9b2a03
 *   - http://typekit.com/eulas/00000000000000003b9b2a06
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-11-15 01:14:33 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=ais8cmj&ht=tk&f=40856.40857.40860&a=3603&app=typekit&e=css");

@font-face {
font-family:"unibody-8-new";
src:url("https://use.typekit.net/af/e21db2/00000000000000003b9b2a02/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/e21db2/00000000000000003b9b2a02/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/e21db2/00000000000000003b9b2a02/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"unibody-8-new";
src:url("https://use.typekit.net/af/0bbeab/00000000000000003b9b2a03/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/0bbeab/00000000000000003b9b2a03/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/0bbeab/00000000000000003b9b2a03/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"unibody-8-new";
src:url("https://use.typekit.net/af/5b3e18/00000000000000003b9b2a06/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/5b3e18/00000000000000003b9b2a06/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/5b3e18/00000000000000003b9b2a06/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

.tk-unibody-8-new { font-family: "unibody-8-new",sans-serif; }
